---
import Layout from "../layouts/Layout.astro";
import Bilingual from "../components/Bilingual.astro";
import Link from "../components/Link.astro";
import Vimeo from "../components/Vimeo.astro";
---

<Layout
    title="collaborations"
    description="These are my collaborations"
    sectionNames={[
        ["istmo", "Istmo, a narrowing of land"],
        ["dondevivoyo", "Donde Vivo Yo"],
        ["veroircallar", "Ver, Oír Y Callar"],
    ]}
>
    <section id="istmo">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="font-bold text-l text-red">
                    Istmo, a narrowing of land
                </h2>
                <p class="text-red">
                    Video, colour, sound, 23 min
                    <br />
                    2022, Mexico
                </p>
                <p class="mt-4 italic text-red">Director</p>
                <p class="text-l text-red">Mara Chavez</p>
                <p class="mt-2 italic text-red">Camera and camera assistance</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-4 xl:w-5/8 text-m indent-4">
                    Isthmus (a narrowing of land) explores the indigenous
                    struggle against a new form of extractive colonialism in the
                    south of Mexico.
                </p>
                <p class="xl:w-5/8 text-m indent-4">
                    Between the Pacific Ocean and the Gulf of Mexico lies the
                    Isthmus of Tehuantepec, Latin America's windiest region. It
                    is largely inhabited by Zapotec and Ikoots people who draw
                    their subsistence from the land and sea, which they view as
                    both sacred and communal. Recently, this narrow strip of
                    land has become a lucrative and dangerous battleground, as
                    foreign investment pours into the region and thousands of
                    wind turbines are constructed.
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="font-bold text-l text-red">
                    Istmo, a narrowing of land
                </h2>
                <p class="text-red">
                    Video, Farbe, Ton, 23 min
                    <br />
                    2022, Mexiko
                </p>
                <p class="mt-4 italic text-red">Regie</p>
                <p class="text-l text-red">Mara Chavez</p>
                <p class="mt-2 italic text-red">Kamera und Kameraassistenz</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-4 xl:w-5/8 text-m indent-4">
                    Zwischen dem Pazifischen Ozean und dem Golf von Mexiko liegt
                    die Landenge von Tehuantepec, Mexikos windigste Region. Es
                    wird größtenteils von Zapoteken und Ikoots bewohnt, die
                    ihren Lebensunterhalt aus Land und Meer beziehen, die sie
                    als heilig und gemeinschaftlich betrachten. In letzter Zeit
                    ist dieser schmale Landstreifen zu einem lukrativen und
                    gefährlichen Schlachtfeld geworden, da ausländische
                    Investitionen in die Region strömen und Tausende von
                    Windturbinen gebaut werden. Dieser Film untersucht die
                    inhärenten Widersprüche, die hinter dem Versprechen von
                    sauberer Energie und Wirtschaftswachstum verborgen sind, und
                    konzentriert sich auf die Reaktion der Menschen vor Ort, die
                    ihr Land und ihre Lebensweise verteidigen.
                </p>
            </Fragment>
        </Bilingual>
        <p class="mt-4 xl:w-5/8 text-m indent-4">
            Mara Chavez is an Austrian-Mexican filmmaker. Her work combines
            research and storytelling to create visual narratives which explore
            the links between ecologies, extraction, memory and migration.
        </p>
        <Link class="mt-4 text-beige" href="https://marachavez.com">
            Mara Chavez
        </Link>
        <p class="mt-6 italic border-b text-red border-beige">
            Videostill
        </p>
        <div class="grid grid-cols-2 gap-4 mt-4"> 
        <img class="col-span-2" src="/images/collab/Istmo,-a-narrowing-of-land_still1_web.jpg" />
        </div>
    </section>
    <section class="mt-16" id="dondevivoyo">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="font-bold text-l text-red">Donde vivo yo</h2>
                <p class="text-l text-red">
                    Realities of life in Guatemala City
                </p>
                <p class="mt-4 text-red">
                    Book, 300 pages, self-published 500 copies.
                    <br />
                    Softcover, thread binding, 18 &times; 24 cm
                    <br />
                    2017
                </p>
                <p class="mt-4 italic text-red">Authors</p>
                <p class="text-l text-red">
                    Evi Kostner, Fabian Kostner, Raphael Reichl
                </p>
                <p class="mt-2 italic text-red">Photography</p>
                <p class="text-l text-red">Ingo Kapelari, Raphael Reichl</p>
                <p class="mt-2 italic text-red">Graphic Design</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-4 xl:w-5/8 text-m indent-4">
                    Donde vivo yo is a social documentary and ethnographic photo
                    book project that deals with the realities of life,
                    especially of young people from Guatemala City.
                </p>
                <p class="xl:w-5/8 text-m indent-4">
                    It reports on political grievances, corruption, violence,
                    poverty, courage, resistance and the human rights situation.
                    Through the pictures and their related stories, we want to
                    make people aware of the realities of life for young people
                    living in Guatemala.
                </p>
                <Link class="mt-4 text-beige" href="https://amikaro.org/">Amikaro</Link>
                <p class="mt-6 italic border-b text-red border-beige">
                    Cover
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="font-bold text-l text-red">Donde vivo yo</h2>
                <p class="text-l text-red">
                    Lebensrealitäten in Guatemala Stadt
                </p>
                <p class="mt-4 text-red">
                    Buch, 300 Seiten, selbstpubliziert 500 Stk. Softcover,
                    Fadenbindung, 18 &times; 24 cm 
                    <br/>
                    2017
                </p>
                <p class="mt-4 italic text-red">Autor*innen</p>
                <p class="text-l text-red">
                    Evi Kostner, Fabian Kostner, Raphael Reichl
                </p>
                <p class="mt-2 italic text-red">Fotografie</p>
                <p class="text-l text-red">Ingo Kapelari, Raphael Reichl</p>
                <p class="mt-2 italic text-red">Grafik</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-4 xl:w-5/8 text-m indent-4">
                    Donde vivo yo ist ein sozialdokumentarisches und
                    ethnografisches Fotobuchprojekt, welches sich mit den
                    Lebensrealitäten, vor allem von Jugendlichen, aus Guatemala
                    Stadt auseinandersetzt.
                </p>
                <p class="xl:w-5/8 text-m indent-4">
                    Es berichtet über politische Missstände, Korruption, Gewalt,
                    Armut, Mut, sozialem Kampf und die menschenrechtliche
                    Situation. Durch die Bilder und deren verbundenen
                    Geschichten, wollen wir den Menschen die Lebensrealitäten
                    junger Guatemaltek:Innen vor Augen führen.
                </p>
                <Link class="mt-4 text-beige" href="https://amikaro.org/">Amikaro</Link>
                <p class="mt-6 italic border-b text-red border-beige">
                Cover
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img class="col-span-2" src="/images/collab/DVY_Repro_01.jpg" />
        </div>
    </section>
    <section class="mt-16" id="veroircallar">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="font-bold text-l text-red">Ver, Oír Y Callar</h2>
                <p class="text-l text-red">See, Hear & Remain Silent</p>
                <p class="mt-4 text-red">
                    Short documentary
                    <br />
                    Video, 7 min
                    <br />
                    2017, Guatemala
                </p>
                <p class="mt-4 italic text-red">Directing</p>
                <p class="text-l text-red">Fabian Kostner, Raphael Reichl</p>
                <p class="mt-2 italic text-red">Camera, Sound</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Editing</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Production</p>
                <p class="text-l text-red">Amikaro</p>
                <p class="mt-4 xl:w-5/8 text-m indent-4">
                    La Limonada is one of the oldest settlements in Guatemala
                    City. Other marginal settlements were built later,
                    especially after the 1976 earthquake. Still others during
                    the worst years of the civil war. From the 1980s onwards,
                    the urban population grew rapidly and unplanned. The result
                    was the creation of countless poor settlements around the
                    city. Don Chepe is a líder comunitario of the neighbourhood
                    La Limonada. Líderes comunitarios are people who hold a
                    special position of authority in marginal neighborhoods. His
                    life marked him and today he is seriously ill. Líderes
                    comunitarios are people who occupy a special position of
                    authority in marginal neighbourhoods. He is marked by life
                    and visibly seriously ill.
                </p>
                <Link class="mt-4 text-beige" href="https://amikaro.org/">Amikaro</Link>
                <p class="mt-6 italic border-b text-red border-beige">
                    Videostill, Shortdocumentary
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="font-bold text-l text-red">Ver, Oír Y Callar</h2>
                <p class="text-l text-red">Sehen, Hören & Schweigen</p>
                <p class="mt-4 text-red">
                    Kurzdokumentarfilm
                    <br />
                    Video, 7 min
                    <br />
                    2017, Guatemala
                </p>
                <p class="mt-4 italic text-red">Regie</p>
                <p class="text-l text-red">Fabian Kostner, Raphael Reichl</p>
                <p class="mt-2 italic text-red">Kamera, Ton</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Schnitt</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Produktion</p>
                <p class="text-l text-red">Amikaro</p>
                <p class="mt-4 xl:w-5/8 text-m indent-4">
                    La Limonada ist eine der ältesten Siedlungen in
                    Guatemala-Stadt. Andere marginale Siedlungen wurden erst
                    später, vor allem nach dem Erdbeben von 1976, gebaut. Wieder
                    andere in den schlimmsten Jahren des Bürgerkrieges. Ab den
                    1980er-Jahren wuchs die städtische Bevölkerung rasch und
                    ungeplant an. Das Ergebnis war die Entstehung unzähliger
                    armer Siedlungen rund um die Stadt. Don Chepe ist ein líder
                    comunitario vom Viertel La Limonada. Líderes comunitarios
                    sind Personen, die in marginalen Vierteln eine besondere
                    Autoritätsposition einnehmen. Er ist vom Leben
                    gekennzeichnet und sichtlich schwer krank.
                </p>
                <Link class="mt-4 text-l text-beige" href="https://amikaro.org/">
                    Amikaro
                </Link>
                <p class="mt-6 italic border-b text-red border-beige">
                    Videostill, Kurzdokumentation
                </p>
            </Fragment>
        </Bilingual>
        <Vimeo id="564217625" />
    </section>
</Layout>
