---
import Layout from "../layouts/Layout.astro";
import Bilingual from "../components/Bilingual.astro";
---

<Layout
    title="Raphael Reichl—Publications"
    description="Publications by artist and film maker Raphael Reichl."
    sectionNames={[  
        "Essay: Andar pisando en cascarones arenosos",
        "Têtê-à-Têtê",
        "I want to disappear",
        "Donde vivo yo",
        "Verrückte Geometrie",
        "Ziegelsteine aus Sarajevo",
        "3rd Generation",
    ]}
>
    <section>
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-l text-red font-bold">
                    Essay: Andar pisando en cascarones arenosos
                </h2>
                <p class="text-l text-red">Walking on Sandy eggshells</p>
                <p class="mt-s text-red italic">
                    Booklet, 36 pages, 12 copies., handmade
                    <br />
                    digital printing, 12 x 21 cm
                </p>
                <p class="mt-s text-l text-red">
                    Author and Design
                    <br />
                    Raphael Reichl
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-l text-red font-bold">
                    Essay: Andar pisando en cascarones arenosos
                </h2>
                <p class="text-l text-red">
                    Essay: Andar pisando en cascarones arenosos
                </p>
                <p class="mt-s text-red italic">
                    Broschüre, 36 Seiten, 12 Stk., handgebunden
                    <br />
                    Digitaldruck, Fadengebunden, 12 x 21 cm
                </p>
                <p class="mt-s">
                    Autor und Grafik
                    <br />
                    Raphael Reichl
                </p>
            </Fragment>
        </Bilingual>
    </section>
    <section class="mt-l">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-l text-red font-bold">Tête à Tête</h2>
                <p class="text-l text-red">
                    Movement/action/intervention radius Praterstern
                </p>
                <p class="mt-s text-red italic">
                    Catalogue, newspaper, 56 pages, 1000 pcs.
                    <br />
                    Offset print, 29 &times; 54 cm
                </p>
                <p class="mt-s text-l text-red">
                    Publishers
                    <br />
                    Judith Huemer, Department of Art with extended painterly space
                    action / sculpture / installation in public space, Academy of
                    Fine Arts Vienna
                </p>
                <p class="mt-s text-l text-red">
                    Editors
                    <br />
                    Judith Huemer, Tobias Pilz, Ursula Maria Probst, Daphne von Schrader,
                    Patrick Winkler
                </p>
                <p class="mt-s text-l text-red">
                    Graphic Design
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s indent-4">
                    A project by the Department of Art with extended visual
                    space-action/sculpture/installation in public space under
                    the direction of Judith Huemer and the collaboration of
                    Ursula Maria Probst &amp; Tobias Pilz, Academy of Fine Arts
                    Vienna in cooperation with KÖR Kunst im öffentlichen Raum
                    Vienna
                </p>
                <p class="indent-4">
                    Art is essential for our society. The artistic projects of
                    Tête-à-Tête at Praterstern provide a new socially relevant
                    impulse. The project serves as an example to show that
                    places of art and creativity are also necessary in transit
                    zones in order to make the soul of the city present in
                    contrast to the commercial (interchangeable) happenings in
                    railway station or shopping centres.
                    <br />
                    (Text by Judith Huemer)
                </p>
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos by Digitale Fotowerkstatt, University of Applied Arts
                    Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-l text-red font-bold">Tête à Tête</h2>
                <p class="text-l text-red">
                    Bewegungs-/Aktions-/Interventionsradius Praterstern
                </p>
                <p class="mt-s text-red italic">
                    Katalog, Zeitung, 56 Seiten, 1000 Stk.
                    <br />
                    Offsetdruck, 29 &times; 54 cm
                </p>
                <p class="mt-s text-l text-red">
                    Herausgeber*innen
                    <br />
                    Judith Huemer, Fachbereich Kunst mit erweiterter malerischer
                    Raum-Aktion / Skulptur / Installation im öffentlichen Raum, Akademie
                    der bildenden Künste Wien
                </p>
                <p class="mt-s text-l text-red">
                    Redaktion
                    <br />
                    Judith Huemer, Tobias Pilz, Ursula Maria Probst, Daphne von Schrader,
                    Patrick Winkler
                </p>
                <p class="mt-s text-l text-red">
                    Grafik
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s indent-4">
                    Ein Projekt vom Fachbereich Kunst mit erweiterter
                    malerischer Raum-Aktion / Skulptur / Installation im
                    öffentlichen Raum unter der Leitung von Judith Huemer und
                    der Mitwirkung von Ursula Maria Probst &amp; Tobias Pilz,
                    Akademie der bildenden Künste Wien in Zusammenarbeit mit KÖR
                    Kunst im öffentlichen Raum Wien
                </p>
                <p class="indent-4">
                    Kunst ist essentiell für unsere Gesellschaft. Durch die
                    künstlerischen Projekte von Tête-à-Tête wird am Praterstern
                    ein neuer gesellschafts- und sozial relevanter Impuls
                    gesetzt. Exemplarisch soll das Projekt dazu dienen,
                    aufzuzeigen, dass an Transitzonen auch Orte der Kunst und
                    Kreativität nötig sind, um gegenüber dem kommerziellen
                    (austauschbaren) Geschehen in Bahnhof-Einkaufszentren die
                    Seele der Stadt präsent werden zu lassen.
                    <br />
                    (Text von Judith Huemer)
                </p>
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos: Digitale Fotowerkstatt, Universität für angewandte
                    Kunst, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="mt-s flex flex-col gap-4">
            {
                Array.from({ length: 10 }, (_, i) => (
                    <img
                        src={`images/TaT_Repro_${(i + 1)
                            .toString()
                            .padStart(2, "0")}.jpg`}
                    />
                ))
            }
        </div>
    </section>
    <section class="mt-l">
        <h2 class="text-l text-red font-bold">I want to disappear</h2>
        <p class="text-l text-red">Approaching Eating Disorders</p>
        <p class="mt-s text-red italic">
            Book, dt./engl., 208 p.
            <br />
            17 &times; 21.5 cm
            <br />
            978-3-903101-43-2
            <br />
            35,00€, discount for affected persons
            <br />
            2017
        </p>
        <p class="mt-s text-l text-red">
            Authors
            <br />
            Mafalda Rakoš, Mag.a Elizabeth McGlynn, Harriet Vrana
        </p>
        <p class="mt-s text-l text-red">
            Photographer and Editor
            <br />
            Mafalda Rakoš
        </p>
        <p class="mt-s text-l text-red">
            Graphic Design
            <br />
            Raphael Reichl
        </p>
        <p class="mt-s indent-4">
            Eating Disorders are not just about food or the desire to be thin,
            and they are much more widespread than commonly assumed. One out of
            ten women, so the current hypothesis, struggles with Anorexia,
            Bulimia, Binge Eating or another form of the phenomenon. Research
            confirms that especially those living in industrialized countries
            are at highest risk to be affected.
            <br />
            Text by Mafalda Rakoš
        </p>
        <a class="mt-s underline" href="https://mafaldarakos.com"
            >Mafalda Rakoš</a
        >
        <p class="mt-s text-l text-red border-b border-beige">
            Fotos by Digitale Fotowerkstatt, University of Applied Arts Vienna
        </p>
        <div class="mt-s flex flex-col gap-4">
            {
                Array.from({ length: 10 }, (_, i) => (
                    <img
                        src={`images/Idwd_Repro_${(i + 1)
                            .toString()
                            .padStart(2, "0")}.jpg`}
                    />
                ))
            }
        </div>
    </section>
    <section class="mt-l">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-l text-red font-bold">Donde vivo yo</h2>
                <p class="text-l text-red">
                    Realities of life in Guatemala City
                </p>
                <p class="mt-s text-red italic">
                    Book, 300 pages, self-published 500 copies.
                    <br />
                    Softcover, thread binding, 18 &times; 24 cm
                    <br />
                    2017
                </p>
                <p class="mt-s text-l text-red">
                    Authors
                    <br />
                    Evi Kostner, Fabian Kostner, Raphael Reichl
                </p>
                <p class="mt-s text-l text-red">
                    Photography
                    <br />
                    Ingo Kapelari, Raphael Reichl
                </p>
                <p class="mt-s text-l text-red">
                    Graphic Design
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s indent-4">
                    Donde vivo yo is a social documentary and ethnographic photo
                    book project that deals with the realities of life,
                    especially of young people from Guatemala City. It reports
                    on political grievances, corruption, violence, poverty,
                    courage, resistance and the human rights situation. Through
                    the pictures and their related stories, we want to make
                    people aware of the realities of life for young people
                    living in Guatemala.
                </p>
                <a class="block mt-s underline" href="https://amikaro.org/"
                    >Amikaro</a
                >
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos by Digitale Fotowerkstatt, University of Applied Arts
                    Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-l text-red font-bold">Donde vivo yo</h2>
                <p class="text-l text-red">
                    Lebensrealitäten in Guatemala Stadt
                </p>
                <p class="mt-s text-red italic">
                    Buch, 300 Seiten, selbstpubliziert 500 Stk.
                    <br />
                    Softcover, Fadenbindung, 18 &times; 24 cm
                    <br />
                    2017
                </p>
                <p class="mt-s text-l text-red">
                    Autor:innen
                    <br />
                    Evi Kostner, Fabian Kostner, Raphael Reichl
                </p>
                <p class="mt-s text-l text-red">
                    Fotografie
                    <br />
                    Ingo Kapelari, Raphael Reichl
                </p>
                <p class="mt-s text-l text-red">
                    Grafik
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s indent-4">
                    Donde vivo yo ist ein sozialdokumentarisches und
                    ethnografisches Fotobuchprojekt, welches sich mit den
                    Lebensrealitäten, vor allem von Jugendlichen, aus Guatemala
                    Stadt auseinandersetzt. Es berichtet über politische
                    Missstände, Korruption, Gewalt, Armut, Mut, sozialem Kampf
                    und die menschenrechtliche Situation. Durch die Bilder und
                    deren verbundenen Geschichten, wollen wir den Menschen die
                    Lebensrealitäten junger Guatemaltek:Innen vor Augen führen.
                </p>
                <a class="block mt-s underline" href="https://amikaro.org/"
                    >Amikaro</a
                >
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos: Digitale Fotowerkstatt, Universität für angewandte
                    Kunst, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="mt-s flex flex-col gap-4">
            {
                Array.from({ length: 6 }, (_, i) => (
                    <img
                        src={`images/DVY_Repro_${(i + 1)
                            .toString()
                            .padStart(2, "0")}.jpg`}
                    />
                ))
            }
        </div>
    </section>
    <section class="mt-l">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-l text-red font-bold">Verrückte Geometrie</h2>
                <p class="mt-s text-red italic">
                    Catalogue, book, 200 pages, 1000 pcs.
                    <br />
                    Hardcover, thread binding, 24 &times; 28 cm
                    <br />
                    2015
                </p>
                <p class="mt-s text-l text-red">
                    Authors
                    <br />
                    Esther Stocker & Co. (to be added)
                </p>
                <p class="mt-s text-l text-red">
                    Publisher
                    <br />
                    Kerber Publishing House
                </p>
                <p class="mt-s text-l text-red">
                    Graphic Design
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s">
                    Catalogue for the renowned artist Esther Stocker, covering
                    more than 20 years of artistic work.
                </p>
                <a class="mt-s underline" href="https://www.estherstocker.net/"
                    >Esther Stocker</a
                >
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos by Digitale Fotowerkstatt, University of Applied Arts
                    Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-l text-red font-bold">Verrückte Geometrie</h2>
                <p class="mt-s text-red italic">
                    Katalog, Buch, 200 Seiten, 1000 Stk.
                    <br />
                    Hardcover, Fadenbindung, 24 &times; 28 cm
                    <br />
                    2015
                </p>
                <p class="mt-s text-l text-red">
                    Autor:innen
                    <br />
                    Esther Stocker & Co. (to be added)
                </p>
                <p class="mt-s text-l text-red">
                    Herausgeber
                    <br />
                    Kerber Publishing House
                </p>
                <p class="mt-s text-l text-red">
                    Grafik Design
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s">
                    Katalog für die renommierte Künstlerin Esther Stocker mit
                    einem Umfang von über 20 Jahre künstlerischen Schaffens.
                </p>
                <a class="mt-s underline" href="https://www.estherstocker.net/"
                    >Esther Stocker</a
                >
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos: Digitale Fotowerkstatt, Universität für angewandte
                    Kunst, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="mt-s flex flex-col gap-4">
            {
                Array.from({ length: 10 }, (_, i) => (
                    <img
                        src={`images/VG_Repro_${(i + 1)
                            .toString()
                            .padStart(2, "0")}.jpg`}
                    />
                ))
            }
        </div>
    </section>
    <section class="mt-l">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-l text-red font-bold">Bricks from Sarajevo</h2>
                <p class="mt-s text-red italic">
                    Book, prototype, 120 pages, 6 pcs.
                    <br />
                    hardcover, manufacture, 11.5 &times; 24.2 cm
                    <br />
                    2014
                </p>
                <p class="mt-s text-l text-red">
                    Author and graphic design
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s text-l text-red">
                    Production
                    <br />
                    Höhere Graphische BlVa, Meisterklasse 13/14
                </p>
                <p class="mt-s indent-4">
                    The book, resembling a brick, is an open dialogue with
                    anecdotes from people in Sarajevo about the aftermath of
                    war. The written part are fragments, like individual bricks
                    taken out, which carry as the same weight as the subject
                    matter of the post-war period in Bosnia.
                </p>
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos by Digitale Fotowerkstatt, University of Applied Arts
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-l text-red font-bold">
                    Ziegelsteine aus Sarajevo
                </h2>
                <p class="mt-s text-red italic">
                    Book, prototype, 120 pages, 6 pcs.
                    <br />
                    hardcover, manufacture, 11,5 &times; 24,2 cm
                    <br />
                    2014
                </p>
                <p class="mt-s text-l text-red">
                    Autor und Grafik
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s text-l text-red">
                    Produktion
                    <br />
                    Höhere Graphische BlVa, Meisterklasse 13/14
                </p>
                <p class="mt-s indent-4">
                    Das Buch, einem Ziegelstein ähnelnd, ist eine offene
                    Auseinandersetzung mit Anekdoten von Menschen in Sarajevo
                    über den Wiederaufbau. Es sind Fragmente, wie entnommene
                    einzelne Ziegelsteine, die wie ebenbürtiges Gewicht auf der
                    Thematik der Nachkriegszeit in Bosnien lastet.
                </p>
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos: Digitale Fotowerkstatt, Universität für angewandte
                    Kunst, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="mt-s flex flex-col gap-4">
            {
                Array.from({ length: 8 }, (_, i) => (
                    <img
                        src={`images/ZaS_Repro_${(i + 1)
                            .toString()
                            .padStart(2, "0")}.jpg`}
                    />
                ))
            }
        </div>
    </section>
    <section class="mt-l">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-l text-red font-bold">3rd Generation</h2>
                <p class="mt-s text-red italic">
                    Prototype
                    <br />
                    Book, 420 pages, 8 pcs.
                    <br />
                    hardcover, silkscreen, manufacture, 17,9 &times; 24,2 cm
                    <br />
                    2013/14
                </p>
                <p class="mt-s text-l text-red">
                    Authors
                    <br />
                    Iuna Viera and Mafalda Rakoš
                </p>
                <p class="mt-s text-l text-red">
                    Editors
                    <br />
                    Iuna Viera, Mafalda Rakoš, Raphael Reichl
                </p>
                <p class="mt-s text-l text-red">
                    Production
                    <br />
                    Höhere Graphische BlVa
                </p>
                <p class="mt-s text-l text-red">
                    Graphic design and book concept
                    <br />
                    Raphael Reichl
                </p>
                <p class="mt-s indent-4">
                    3rd Generation is a social documentary photo book that tells
                    stories about the realities of life of Israeli and
                    Palestinian youth through a personal and individual
                    approach.
                </p>
                <p class="indent-4">
                    The book, written by Iuna Viera and Mafalda Rakos, is a
                    collection of several individual portraits that express
                    their opinions and feelings about the Middle East conflict.
                    The authors, who are also photographers, created stories
                    with pictures and interviews based on their individual
                    experiences with the protagonists. It is a personal approach
                    to create a more intimate insight into the realities of life
                    and an alternative to conventional reporting on the Middle
                    East conflict.
                </p>
                <p class="mt-s text-l text-red border-b border-beige">
                    Fotos by Digitale Fotowerkstatt, University of Applied Arts
                    Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
            <h2 class="text-l text-red font-bold">3rd Generation</h2>
            <p class="mt-s text-red italic">
                Dummy Prototyp
                <br />
                Buch, 420 Seiten, 8 Stk.
                <br />
                Hardcover, Siebdruck, Manufaktur, 17,9 &times; 24,2 cm
                <br />
                2013/14
            </p>
            <p class="mt-s text-l text-red">
                Autorinnen
                <br />
                Iuna Viera and Mafalda Rakoš
            </p>
            <p class="mt-s text-l text-red">
                Herausgeber
                <br />
                Iuna Viera, Mafalda Rakoš, Raphael Reichl
            </p>
            <p class="mt-s text-l text-red">
                Produktion
                <br />
                Höhere Graphische BlVa
            </p>
            <p class="mt-s text-l text-red">
                Grafik Design und Buchkonzept
                <br />
                Raphael Reichl
            </p>
            <p class="mt-s indent-4">
                3rd Generation ist ein sozialdokumentarisches Fotobuchprojekt,
                welches durch eine persönliche und individuelle Herangehensweise
                Lebensrealitäten von israelischen und palästinensischen
                Jugendlichen erzählt.
            </p>
            <p class="indent-4">
                Das Buch, geschrieben von Iuna Viera und Mafalda Rakos, ist eine
                Sammlung aus mehreren individuellen Porträts, die ihre Meinungen
                und ihre Gefühlswelt zum Nah-Ost-Konflikt äußern. Die Autorinnen
                und zugleich Fotografinnen erarbeiteten Geschichten mit Bilder
                und Interviews anhand ihre individuellen Erlebnisse mit den
                Protagonist:Innen. Es ist eine persönliche Annäherung, um eine
                intimeren Einblick in Lebensrealitäten und eine Alternative zur
                herkömmlichen Berichterstattung über den Nah-Ost-Konflikt zu
                schaffen.
            </p>
            <p class="mt-s text-l text-red border-b border-beige">
                Fotos: Digitale Fotowerkstatt, Universität für angewandte Kunst,
                Wien
            </p>
            </Fragment>
        </Bilingual>
        <div class="mt-s flex flex-col gap-4">
            {
                Array.from({ length: 9 }, (_, i) => (
                    <img
                        src={`images/3rdG_Repro_${(i + 1)
                            .toString()
                            .padStart(2, "0")}.jpg`}
                    />
                ))
            }
        </div>
    </section>
</Layout>
<!--

––––––––––––––––––––––––––––––––––––

en

Authors
Iuna Viera and Mafalda Rakoš

Editors
Iuna Viera, Mafalda Rakoš, Raphael Reichl

Production
Höhere Graphische BlVa

Graphic design and book concept
Raphael Reichl

3rd Generation is a social documentary photo book that tells stories about the realities of life of Israeli and Palestinian youth through a personal and individual approach.
The book, written by Iuna Viera and Mafalda Rakos, is a collection of several individual portraits that express their opinions and feelings about the Middle East conflict. The authors, who are also photographers, created stories with pictures and interviews based on their individual experiences with the protagonists. It is a personal approach to create a more intimate insight into the realities of life and an alternative to conventional reporting on the Middle East conflict.

Fotos by Digitale Fotowerkstatt, University of Applied Arts Vienna

de

3rd Generation

Dummy Prototyp
Buch, 420 Seiten, 8 Stk.
Hardcover, Siebdruck, Manufaktur, 17,9 x 24,2 cm
2013/14

Autorinnen
Iuna Viera und Mafalda Rakoš

Herausgeber
Iuna Viera, Mafalda Rakoš, Raphael Reichl

Produktion
Höhere Graphische BlVa, 2013

Grafik Design und Buchkonzept
Raphael Reichl

3rd Generation ist ein sozialdokumentarisches Fotobuchprojekt, welches durch eine persönliche und individuelle Herangehensweise Lebensrealitäten von israelischen und palästinensischen Jugendlichen erzählt.
Das Buch, geschrieben von Iuna Viera und Mafalda Rakos, ist eine Sammlung aus mehreren individuellen Porträts, die ihre Meinungen und ihre Gefühlswelt zum Nah-Ost-Konflikt äußern. Die Autorinnen und zugleich Fotografinnen erarbeiteten Geschichten mit Bilder und Interviews anhand ihre individuellen Erlebnisse mit den Protagonist:Innen. Es ist eine persönliche Annäherung, um eine intimeren Einblick in Lebensrealitäten und eine Alternative zur herkömmlichen Berichterstattung über den Nah-Ost-Konflikt zu schaffen.

Fotos: Digitale Fotowerkstatt, Universität für angewandte Kunst, Wien

 -->
