---
import Layout from "../layouts/Layout.astro";
import Bilingual from "../components/Bilingual.astro";
import Vimeo from "../components/Vimeo.astro";
---

<Layout
    title="Raphael Reichl—Publications"
    description="Publications by artist and film maker Raphael Reichl."
    sectionNames={[
        ["andar", "Andar pisando en cascarones arenosos"],
        ["ahuehuete", "Ahuehuete"],
        ["icantsee", "I can't see the wood for the trees anymore"],
        ["pah", "P.A.H. (Sweden Aid)"],
        ["theerased", "The Erased Brain, Just The Apparatus"],
        ["revolvere", "revolvere"],
        ["redgreenbirth", "Red Green Birth"],
        ["ttttouchme", "t t t touch me"],
        ["a1224", "12 24"],
        ["venive", "¡Vení Ve!"],
    ]}
>
    <section id="andar">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">
                    Andar pisando en cascarones arenosos
                </h2>
                <p class="text-l text-red">
                    Walking on sandy eggshells
                </p>
                <p class="mt-4 text-red">
                    2-Channel Installation, 220 &times; 125 &times; 50 cm, 23
                    min (loop)
                    <br />
                    2022, Mexico
                </p>
                <p class="mt-6 text-m md:w-5/8 indent-4">
                    Turtle eggs washed by the tide, naked feet in sandals and
                    the noise of a jackhammer. Again and again he swings a
                    bucket onto his shoulders before emptying it onto a mountain
                    of rubble. Every turn he walks is counted, just like every
                    egg.
                </p>
                <p class="md:w-5/8 text-m indent-4">
                    Landing point of the conquistadors, the occupation of the
                    mind. Nature has become territory. The view of the
                    borderless horizon of a globalisation that always had a lack
                    of grounding, reality and consistent materiality.
                </p>
                <p class="md:w-5/8 text-m indent-4">
                    The film reflects the parallelism of two different working
                    worlds in Mexico and enables global reflections. It is an
                    experiment to make contradictions tangible in the form of a
                    cinematic montage&mdash;also the contradictions in artistic
                    practice. The images want to take position, with the wish to
                    approach other perspectives.
                </p>
                <p class="md:w-5/8 italic">(Written by Viktor Rabl und Raphael Reichl)</p>
                <p class="mt-4 italic border-b text-red border-beige">
                    Installation view: Expositur Vordere Zollamtstraße 7,
                    University of Applied Arts, Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">
                    Andar pisando en cascarones arenosos
                </h2>
                <p class="text-l text-red">
                    Auf sandigen Eierschalen laufen
                </p>
                <p class="mt-4 text-red">
                    2-Kanal-Videoinstallation, 220 &times; 125 &times; 50 cm,
                    23min (Loop)
                    <br />
                    2022, Mexiko
                </p>
                <p class="mt-4 italic text-red">Regie, Kamera, Schnitt</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Mitwirkende</p>
                <p class="text-l text-red">
                    Amos Abdias, Waleska R. Cisne, Stalin Ocampo, Róger Ortíz,
                    Hamilton Reyes, Edgard Ruiz Roblez, Roberto Sandino
                </p>  
                <p class="mt-6 md:w-5/8 text-m indent-4">
                    Schildkröteneier von der Flut umspült, nackte Füße in
                    Sandalen und der Lärm eines Presslufthammers. Wiederholt
                    schwingt er einen Kübel auf seine Schultern, bevor er ihn
                    auf einen Berg aus Schutt entleert. Seine Gänge werden
                    abgezählt, genau wie jedes Ei.
                </p>
                <p class="md:w-5/8 text-m indent-4">
                    Landungspunkt der Konquistadoren, die Inbesitznahme des
                    Geistes. Die Natur ist zum Territorium geworden. Der Blick
                    auf den grenzenlosen Horizont einer Globalisierung, der
                    immer schon Bodenhaftung, Realität und konsistente
                    Materialität fehlte.
                </p>
                <p class="md:w-5/8 text-m indent-4">
                    Der Film reflektiert die Parallelität verschiedener
                    Arbeitswelten in Mexiko und lässt globale Betrachtungen zu.
                    Es ist der Versuch, die erlebten Widersprüche in Form einer
                    filmischen Montage erfahrbar zu machen &ndash; auch die
                    Widersprüche im künstlerischen Tun. Es sind Bilder, die
                    Position beziehen wollen, mit dem Wunsch, sich anderen
                    Perspektiven anzunähern.
                </p>
                <p class="md:w-5/8 italic">(Text von Viktor Rabl und Raphael Reichl)</p>
                <p class="mt-4 italic border-b text-red border-beige">
                    Ausstellungsansicht: Expositur Vordere Zollamtstraße 7,
                    Universität für angewandte Kunst, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img class="col-span-2 md:col-span-1" src="images/expo/Cascarones_Reichl_Doku_23-web.jpg" />
            <img class="col-span-2 md:col-span-1" src="images/expo/Cascarones_Reichl_Doku_13-web.jpg" />
            <img class="col-span-2" src="images/expo/Cascarones_Reichl_Doku_21-web.jpg" />
            <img class="col-span-2" src="images/expo/Cascarones_Reichl_Doku_33-web.jpg" />
            <img class="col-span-2" src="images/expo/Cascarones_Reichl_Doku_36-web.jpg" />
        </div>
    </section>
    <section class="mt-16" id="ahuehuete">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">Ahuehuete</h2>
                <p class="text-l text-red">The Ancient Water Tree</p>
                <p class="mt-4 italic text-red">
                    Video, color, sound, 6 min
                    <br />
                    2022, Mexico
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    The village of Tule is located in the state of Oaxaca,
                    Mexico. This small town carries within a story of
                    remembrance of the Mixe and Zapotec indigenous identity.
                    Under the glory of a tree, the so-called Ahuehuete, lies an
                    over two thousand year old history. Through its presence,
                    the myth of its own birth survives across generations. The
                    tale&mdash;told by Angel Villanueva&mdash;not only preserves
                    the cultural heritage that is revived through storytelling,
                    it also counteracts the suppression of indigenous identity
                    and supports the resistance process that began since the
                    colonisation about 500 years ago.
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">Ahuehuete</h2>
                <p class="text-l text-red">Der alte Wasserbaum</p>
                <p class="mt-4 italic text-red">
                    Video, Farbe, Ton, 6 min
                    <br />
                    2022, Mexiko
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Das unscheinbare Dorf Tule liegt im mexikanischen
                    Bundesstaat Oaxaca. Dieser kleine Ort birgt in sich eine
                    Geschichte zur Erinnerung an die indigene Identität der
                    Mixes und Zapoteken. Unter der Pracht eines Baumes, namens
                    Ahuehuete, liegen über zweitausend Jahre zurück, und durch
                    seine Anwesenheit überlebt ein Mythos seiner eigenen Geburt
                    über Generationen. Der Mythos, erzählt von Angel Villanueva,
                    bewahrt nicht nur das kulturelle Erbe einer unterdrückten
                    Identität, sondern unterstützt den Widerstandsprozess, der
                    seit der Kolonialisierung vor etwa 500 Jahren begann.
                </p>
            </Fragment>
        </Bilingual>
        <p class="mt-6 border-b text-l text-red border-beige">Videostills</p>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img
                class="col-span-2"
                src="images/stills/Ahuehuete_Still01-web_low.jpg"
            />
            <img
                class="col-span-2"
                src="images/stills/Ahuehuete_Still02-web_low.jpg"
            />
            <img
                class="col-span-2"
                src="images/stills/Ahuehuete_Still03-web_low.jpg"
            />
        </div>
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-6 border-b text-l text-red border-beige">
                    Exhibition view: Status in der Feldforschung (2), Foto Wien
                    2022, Paulusplatz 5, Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-6 border-b text-l text-red border-beige">
                    Ausstellungsansicht: Status in der Feldforschung (2), Foto
                    Wien 2022, Paulusplatz 5, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img src="images/expo/Auhuehuete_FotoWien22_Doku_01.jpg" />
            <img src="images/expo/Auhuehuete_FotoWien22_Doku_05.jpg" />
            <img src="images/expo/Auhuehuete_FotoWien22_Doku_06.jpg" />
            <img src="images/expo/Auhuehuete_FotoWien22_Doku_36.jpg" />
        </div>
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-4 italic text-red">Photos by Raphael Reichl</p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-4 italic text-red">Fotos von Raphael Reichl</p>
            </Fragment>
        </Bilingual>
    </section>
    <section class="mt-16" id="icantsee">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">
                    I can't see the wood for the trees anymore
                </h2>
                <p class="mt-4 italic text-red">
                    Installation: metal, plaster, wood, lithography, acrylic, 16
                    mm frame, found objects
                    <br />
                    2021
                </p>
                <p class="mt-6 md:w-5/8">
                    The body has grown with roots and scars,
                    <br />
                    first open and abstract through grasping,
                    <br />
                    then direct and complex through pointing,
                    <br />
                    conclusions mark the flat surface.
                </p>
                <p class="mt-2 md:w-5/8">
                    Processes touch no depth,
                    <br />
                    trickle away in a stable tunnel with greedy gazes,
                    <br />
                    a manipulative imprint brands the whole mass,
                    <br />
                    without origin in thought,
                    <br />
                    without hold.
                </p>
                <p class="mt-2 md:w-5/8">
                    Profits without shame are propped up on
                    <br />
                    the actual true status symbol,
                    <br />
                    overburdened with material property,
                    <br />
                    the possession of one's naturalness branches off.
                </p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Installation view: Expositur Paulusplatz 5, University of
                    Applied Arts, Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">
                    Ich sehe den Wald vor lauter Bäumen nicht mehr
                </h2>
                <p class="mt-4 italic text-red">
                    Installation: Metall, Gips, Holz, Lithographie, Acryl, 16 mm
                    Kader, Gefundene Objekte
                    <br />
                    Ausstellungsansicht: Expositur Paulusplatz, 1030 Wien
                    <br />
                    2021
                </p>
                <p class="mt-6 md:w-5/8">
                    Der Körper ist gewachsen mit Wurzeln und Narben,
                    <br />
                    zuerst offen und abstrakt durch das Greifen,
                    <br />
                    dann direkt und komplex durch das Zeigen,
                    <br />
                    Schlusszüge markieren die glatte Oberfläche.
                </p>
                <p class="mt-4 md:w-5/8">
                    Prozesse berühren keine Tiefe,
                    <br />
                    verrinnen im stabilen Tunnel mit gierigen Blicken,
                    <br />
                    brandmarkt ein manipulativer Abdruck die ganze Masse,
                    <br />
                    ohne Ursprung in den Gedanken, ohne Halt.
                </p>
                <p class="mt-4 md:w-5/8">
                    Profite ohne Schamgefühl stützen sich auf
                    <br />
                    das eigentliche Statussymbol,
                    <br />
                    überfordert mit materiellem Eigentum,
                    <br />
                    der Besitz der eigenen Natürlichkeit zweigt ab.
                </p>
                <p class="mt-4 border-b text-l text-red border-beige">
                    Ausstellungsansicht: Expositur Paulusplatz 5, Universität
                    für angewandte Kunst, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img
                class="col-span-2"
                src="images/expo/WaldvorlauterBaume_01-web.jpg"
            />
            <img
                class="col-span-2"
                src="images/expo/WaldvorlauterBaume_02-web.jpg"
            />
            <img src="images/expo/WaldvorlauterBaume_03-web.jpg" />
            <img src="images/expo/WaldvorlauterBaume_04-web.jpg" />
            <img
                class="col-span-2"
                src="images/expo/WaldvorlauterBaume_05-web.jpg"
            />
            <img
                class="col-span-2"
                src="images/expo/WaldvorlauterBaume_06-web.jpg"
            />
        </div>
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-4 italic text-red">Photos by Raphael Reichl</p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-4 italic text-red">Fotos von Raphael Reichl</p>
            </Fragment>
        </Bilingual>
    </section>
    <section class="mt-16" id="pah">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">P.A.H. (Sweden Aid)</h2>
                <p class="mt-4 italic text-red">
                    City-Light-Poster, digital color print, 118.5 &times; 175 cm
                    <br />
                    Video (16 mm to digital), color, sound, 1 min
                    <br />
                    2019
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    A humorous to ironic connection evolves in the collages of
                    Raphael Reichl, who combines the context of origin of the
                    Per-Albin-Hansson housing estate with the history of the
                    Austrian sweet Schwedenbomben (Swedish bombs). By
                    interweaving two such specific and seemingly alien elements,
                    which he projects onto the housing estate, he breaks up
                    historical narratives. The fragmented filmic material
                    questions reality, documentation and transmission.
                </p>
                <p class="md:w-5/8">(written by Clara Hofmann)</p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Exhibition view: IM VORBEI, Per-Albin-Hansson-Siedlung Ost:
                    Bergtaidingweg, Vienna
                    <br />
                    during the project of Per Albin initiated by Doris Krüger and
                    Ilse Lafer with KÖR Vienna, curated by Clara Hofmann
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">
                    P.A.H. (Schwedenhilfe)
                </h2>
                <p class="mt-4 italic text-red">
                    City-Light-Poster, Digitaldruck, 118,5 &times; 175 cm
                    <br />
                    Video (16mm Scan), Farbe, Ton, 1 min
                    <br />
                    2019
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Eine humorvolle bis ironische Verbindung entsteht in den
                    Collagen von Raphael Reichl, der den Entstehungskontext der
                    Siedlung Per-Albin-Hansson mit der Geschichte der
                    österreichischen Süßigkeit Schwedenbomben verknüpft. Anhand
                    der Verschränkung zweier derart spezifischer und sich so
                    fremd scheinender Elemente, die er auf die Siedlung
                    projiziert, bricht er historische Narrative auf. Das
                    zersprengte filmische Material hinterfragt Wirklichkeit,
                    Dokumentation und Überlieferung.
                </p>
                <p class="md:w-5/8">(Text von Clara Hofmann)</p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Ausstellungsansicht: IM VORBEI, Per-Albin-Hansson-Siedlung
                    Ost: Bergtaidingweg, 1100 Wien
                    <br />
                    Im Rahmen des Ausstellungsprojekts Per Albin von Doris Krüger
                    und Ilse Lafer in Zusammenarbeit mit KÖR, kuratiert von Clara
                    Hofmann
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img
                class="col-span-2"
                src="images/expo/P.A.H._ImVorbei_Doku01-web.jpg"
            />
            <img
                class="col-span-2"
                src="images/expo/P.A.H._ImVorbei_Doku02-web.jpg"
            />
        </div>
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-4 italic text-red">Photos by Mira Klug</p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-4 italic text-red">Fotos von Mira Klug</p>
            </Fragment>
        </Bilingual>
        <Vimeo id="430772881" />
    </section>
    <section class="mt-16" id="theerased">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">
                    The Erased Brain, Just The Apparatus
                </h2>
                <p class="mt-4 italic text-red">
                    Installation: Styrofoam, putty, wire, steel, MDF, electronic
                    mechanics
                    <br />
                    2019
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    The Erased Brain is an installation of kinetic sculptures
                    that basically represent mechanisms in geometric form.
                    Starting from the question of what truth means, autonomous
                    bodies move in space. Time is a sensation of its own, like
                    an autonomous being. Raphael Reichl tries to depict the
                    natural law of being by using geometric bodies. To what
                    extent can humans accurately describe the present? On the
                    other side, of observation, there is the additional question
                    of how precisely we can observe?
                </p>
                <p class="md:w-5/8 indent-4">
                    The rotating cones show a simultaneity and parallelism in an
                    endless movement. The cuboid sculpture performs a movement
                    of lifting and dropping and represents the phenomenon of
                    gravity as well as a transmission of an impulse or a moment.
                    These mechanisms can also be understood as a metaphor of
                    film production&mdash;like shooting and cutting. Thus, the
                    manipulation of space and time begins with human
                    intervention.
                </p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Installation view: Expository Paulusplatz 5, University of
                    Applied Arts, Vienna
                    <br />
                    with works by Ana Likar (on the wall)
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">
                    Das ausgelöschte Gehirn, die simple Apparatur
                </h2>
                <p class="mt-4 italic text-red">
                    Installation: Styropor, Spachtelmasse, Draht, Stahl, MDF,
                    elektronische Mechanik
                    <br />
                    2019
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Das ausgelöschte Gehirn ist eine Installation von
                    kinetischen Skulpturen, die grundsätzlich Mechanismen in
                    geometrischer Form darstellen. Ausgehend von der
                    Fragestellung was Wahrheit bedeutet, bewegen sich autonome
                    Körper im Raum. Zeit ist ein eigenes Empfinden, wie ein
                    autonomes Wesen. Raphael Reichl versucht anhand
                    geometrischer Körper die Naturgesetzlichkeit des Seins
                    darzustellen. Inwieweit können Menschen die Gegenwart genau
                    beschreiben? Auf der anderen Seite, des Betrachtens, kommt
                    zusätzlich die Frage auf, wie genau wir beobachten können?
                </p><p class="md:w-5/8 indent-4">
                    Die rotierenden Kegel zeigen eine Simultanität und
                    Parallelität in einer endlosen Bewegung. Die Quader-Skulptur
                    vollführt eine Bewegung des Hochhebens und Fallenlassens und
                    stellt das Phänomen der Schwerkraft sowie die Übertragung
                    eines Impuls oder Moments dar. Diese Mechanismen sind auch
                    als Metapher der Filmproduktion zu verstehen &ndash; das
                    Drehen und Schneiden. So beginnt mit dem Eingreifen des
                    Menschen die Manipulation von Raum und Zeit.
                </p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Installationsansicht: Expositur Paulusplatz 5, Universität
                    für angewandte Kunst, Wien
                    <br />
                    mit Arbeiten von Ana Likar (an der Wand)
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img class="col-span-2" src="images/expo/Erasedbrain_03-web.jpg" />
            <img src="images/expo/Erasedbrain_02-web.jpg" />
            <img src="images/expo/Erasedbrain_01-web.jpg" />
        </div>
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-4 italic text-red">Photos by Raphael Reichl</p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-4 italic text-red">Fotos von Raphael Reichl</p>
            </Fragment>
        </Bilingual>
        <Vimeo id="429307206" />
    </section>
    <section class="mt-16" id="revolvere">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">revolvere</h2>
                <p class="mt-4 italic text-red">
                    Installation: 16 mm projector, 16 mm film, b/w, silent, 9
                    sec (Loop)
                    <br />
                    iPhone 7, video, colour, silent, 5 min (Loop)
                    <br />
                    2018
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    In April 2018, the social situation in Nicaragua escalated
                    due to countless shared accusations on social media channels
                    of public crimes and murders. Protest movements were
                    organised against Daniel Ortega's authoritarian system of
                    government. It was not only a political conflict between the
                    government and the demonstrators on the streets, it became
                    also a political debate due social media around the globe,
                    when turbulent emotions were posted at a high speed in the
                    virtual space. How much truth remains between cries for help
                    and agitation? And, coming from the so-called global north,
                    how can I deal with all this information?
                </p>
                <p class="md:w-5/8 indent-4">
                    In the installation revolvere, Raphael Reichl questions the
                    concept of revolution and symbolises the etymology in a
                    comparison of image-reproducing apparatuses of their
                    technical evolution. If in the 15th century revolution used
                    to mean literally circling and later, only from the time of
                    the French Revolution, violent political coup, then the
                    connotation of the word has changed significantly from a
                    circular to a more linear process. What political challenges
                    does Western society face in crises when our understanding
                    of revolution is always associated with radical changes and
                    steady linear growth?
                </p>
                <p class="md:w-5/8 indent-4">
                    The machines move parallelly in their presence&mdash;in time
                    with the revolution&mdash;progress or repetition of
                    interchangeable rulers?
                </p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Installation view: Shifting Sites: Activate the Territories,
                    Expository Paulusplatz 5, University of Applied Arts, Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">revolvere</h2>
                <p class="mt-4 italic text-red">
                    Installation: 16mm Projektor: 16 mm, b/w, silent, 9 sek
                    (Loop)
                    <br />
                    iPhone 7: Video, digital, colour, silent, 5 min (Loop)
                    <br />
                    2018
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Im April 2018 eskalierte die soziale Lage in Nicaragua
                    aufgrund von unzähligen geteilten Beschuldigungen auf
                    Social-Media-Kanälen von öffentlichen Verbrechen und Morden.
                    Es wurden Protestbewegungen gegen das autoritäre
                    Regierungssystem von Daniel Ortega organisiert. Zwischen der
                    Regierung und der Demonstrierenden entstand nicht nur ein
                    politischer Konflikt auf den Straßen, sondern es
                    entwickelten sich gesellschaftliche Symptome aufgrund der
                    sozialen Kanäle in der digitalen Welt, wenn aufgeladene
                    Emotionen von Posts sich in einer Hochgeschwindigkeit im
                    virtuellen globalen Raum aufbauschen. Wie viel Wahrheit
                    bleibt zwischen Hilferufe und Hetze über? Und, wie soll ich,
                    aus dem sogenannten globalen Norden kommend, mit all der
                    Information umgehen?
                </p>
                <p class="md:w-5/8 indent-4">
                    In der Installation revolvere hinterfragt Raphael Reichl den
                    Begriff der Revolution und versinnbildlicht die Etymologie
                    in einer Gegenüberstellung von bildreproduzierenden Medien
                    in ihrer technischen Evolution. Wenn Revolution früher im
                    15. Jh. wortwörtlich umkreisen hieß und später erst ab dem
                    Zeitpunkt der französischen Revolution gewaltsamer
                    politsicher Umsturz, dann verändert sich die Konnotation des
                    Wortes von einer zyklischen in eine linear fortschreitende
                    Bedeutung. Welchen politischen Herausforderungen stellt sich
                    der moderne westliche Mensch in Krisen, wenn unser
                    Verständnis von Revolution immer mit Umbruch und stetigen
                    linearen Wachstum verbunden ist?
                </p>
                <p class="md:w-5/8 indent-4">
                    Die Maschinen bewegen sich parallel in ihrer Präsenz &ndash;
                    im Takt der Revolution &ndash; Fortschritt oder Wiederholung
                    von austauschbaren Machthabern?
                </p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Ausstellungsansicht: Shifting Sites: Activate the
                    Territories, Expositur Paulusplatz 5, Universität für
                    angewandte Kunst, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img
                class="col-span-2"
                src="images/expo/revolvere_doku_01-web.jpg"
            />
            <img src="images/expo/revolvere_doku_02-web.jpg" />
            <img src="images/expo/revolvere_doku_03-web.jpg" />
        </div>
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-4 italic text-red">Photos by Raphael Reichl</p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-4 italic text-red">Fotos von Raphael Reichl</p>
            </Fragment>
        </Bilingual>
        <Vimeo id="325199987" />
    </section>
    <section class="mt-16" id="redgreenbirth">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">Red Green Birth</h2>
                <p class="mt-4 italic text-red">
                    Film installation: aluminium, 16 mm projector
                    <br />
                    Film: 16 mm, colour, silent, 1 min (loop)
                    <br />
                    Exhibition view: Kulturverein Shizzle, Hernalser Hauptstraße
                    37, 1170 Vienna
                    <br />
                    2018
                </p>
                <p class="mt-6 md:w-5/8 indent-4"></p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">Rot Grün Geburt</h2>
                <p class="mt-4 italic text-red">
                    Filminstallation: Aluminium, 16 mm Projektor
                    <br />
                    Film: 16 mm, Farbe, stumm, 1 min (Loop)
                    <br />
                    Ausstellungsansicht: Kulturverein Shizzle, Hernalser Hauptstraße
                    37, 1170 Wien
                    <br />
                    2018
                </p>
                <p class="mt-6 md:w-5/8 indent-4"></p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img class="col-span-2" src="images/expo/RGG_Raumansicht_01-web.jpg" />
            <img class="col-span-2" src="images/stills/RotGrünGeburt_Filmstill1-web.jpg" />
            <img src="images/stills/RotGrünGeburt_Filmstill3-web.jpg" />
            <img src="images/stills/RotGrünGeburt_Filmstill4-web.jpg" />
        </div>
        <Vimeo id="312721810" />
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">notprojektion</h2>
                <p class="mt-4 italic text-red">
                    Installation: aluminium, 16 mm projector
                    <br />
                    2018
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Raphael Reichl adapted his 16 mm film installation Rot Grün
                    Geburt (Red Green Birth) for the exhibition pubic viewing,
                    which took place during the public screening of the 2018
                    Football World Cup held next to it. The artist thus
                    re-functions the dispositive, the projector and the screen
                    as the popular and the regime of images. But the work
                    recognises the difference between digital culture, vis-à-vis
                    the huge LCD screen mounted outside, which glows from
                    itself, and the principle of analogue projection, which
                    casts its images onto a support via light. In the
                    arrangement of the notgalerie, however, this light is no
                    longer cast by the machine, but by the sun, which takes on a
                    colour pattern from outside through the installation
                    Notrichter and is distributed throughout the space.
                </p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Group exhibition: pubic viewing at the notgalerie, Aspern North, Vienna 
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">notprojektion</h2>
                <p class="mt-4 italic text-red">
                    Installation: Aluminium, 16 mm Projektor
                    <br />
                    2018
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Raphael Reichl adaptierte seine 16mm Film Installation Rot
                    Grün Geburt für die Ausstellung pubic viewing, die während
                    dem daneben veranstalteten Public-Screening der
                    Fußballweltmeisterschaft 2018 stattgefunden hat. In der
                    Ausstellung der Notgalerie werden die Projektionswerkzeuge
                    selbst zu darstellenden Gegenständen. Der Künstler
                    funktioniert somit das Dispositiv, den Projektor und die
                    Leinwand als dem Populäreren und dem Regime der Bilder, um.
                    Die Arbeit erkennt aber den Unterschied zwischen der
                    digitalen Kultur, gegenüber dem draußen angebrachten
                    riesigen LCD Screen, welcher aus sich selbst heraus
                    leuchtet, und dem Prinzip der analogen Projektion, welche
                    über Licht ihre Bilder auf einen Träger wirft. Dieses Licht
                    wirft in der Anordnung der notgalerie aber nicht mehr die
                    Maschine, sondern die Sonne, die von außen durch die
                    Installation Notrichter ein Farbmuster annimmt und sich im
                    Raum verteilt.
                </p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Gruppenausstellung: pubic viewing in der notgalerie, Aspern Nord, Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img class="col-span-2" src="images/expo/NotProjektion-web.jpg" />
        </div>
    </section>
    <section class="mt-16" id="ttttouchme">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">t t t touch me</h2>
                <p class="mt-4 italic text-red">
                    Super 8 (blow-up 16 mm), colour, silent, 3 min
                    <br />
                    2017
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Typing, pressing, striking, swiping&mdash;finger movements
                    that are not carried out on the touchscreen of a smartphone,
                    but instead, on naked skin. Raphael Reichl investigates the
                    transformation of perception and communication in the
                    digital era&mdash;on analogue film. A haptic visual
                    experience, which makes tangible, the loss of analogue
                    qualities.
                </p>
                <p class="md:w-5/8 indent-4">
                    Raphael Reichl explores the extent to which the digital
                    penetration of all areas of life causes the transformation
                    of needs, communication and perception. The fact that Reichl
                    registers the gestures of everyday life on analogue film,
                    the touches that seem to have lost of sensuality, is more
                    than a statement: t t t touch me becomes a haptic visual
                    experience that makes the loss of analogue qualities in the
                    digital age tangible in the flesh.
                </p>
                <p class="md:w-5/8">(Written by Michelle Koch, Diagonale 20')</p>
                <p class="mt-6 border-b text-l text-red border-beige">
                    Filmstills
                </p>
            </Fragment>
            <Fragment slot="de"></Fragment>
            <h2 class="text-xl font-bold text-red">t t t touch me</h2>
            <p class="mt-4 italic text-red">
                Super 8 (Blow-Up 16 mm), Farbe, stumm, 3 min
                <br />
                2017
            </p>
            <p class="mt-6 md:w-5/8 indent-4">
                Tippen, drücken, streichen, wischen &ndash; Fingerbewegungen,
                die nicht auf dem Touchscreen eines Smartphones vollzogen
                werden, sondern auf der reizempfindlichen Oberfläche des
                menschlichen Körpers, auf nackter Haut. Sichtbare Reaktionen
                vermögen diese Berührungen allerdings nicht hervorzurufen
                &ndash; defektes Interface, fehlerhafte Bedienung? Oder sind die
                Impulse lediglich zu reduziert, um der Komplexität der „Maschine
                Mensch“ gerecht zu werden?
            </p>
            <p class="md:w-5/8 indent-4">
                Raphael Reichl erforscht, inwieweit die digitale Durchdringung
                sämtlicher Lebensbereiche die Transformation von Bedürfnissen,
                Kommunikation und Wahrnehmung bedingt. Dass Reichl die Gesten
                des Alltags, die Berührungen, denen jegliche Sinnlichkeit
                abhandengekommen scheint, auf analogem Film registriert, ist
                mehr als ein Statement: t t t touch me wird zur haptischen
                Seherfahrung, die den Verlust analoger Qualitäten im digitalen
                Zeitalter am Leibe begreifbar macht.
            </p>
            <p class="md:w-5/8">(Text von Michelle Koch, Diagonale 20')</p>
            <p class="mt-6 border-b text-l text-red border-beige">
                Filmstills
            </p>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img class="col-span-2" src="images/stills/t-t-t-touch-me_filmstill1_low.jpg" />
            <img src="images/stills/t-t-t-touch-me_filmstill2_low.jpg" />
            <img src="images/stills/t-t-t-touch-me_filmstill3_low.jpg" />
        </div>
        <Vimeo id="232663113" />
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-6 border-b text-l text-red border-beige">
                    Exhibition view: Rituals IV&mdash;Body, Fotogalerie Vienna
                </p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-6 border-b text-l text-red border-beige">
                    Ausstellungsansicht: Rituale IV &ndash; Körper, Fotogalerie Wien
                </p>
            </Fragment>
        </Bilingual>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <img src="images/expo/ttttouchme_Fotogalerie_01-web.jpg" />
            <img src="images/expo/ttttouchme_Fotogalerie_02-web.jpg" />
        </div>
        <Bilingual>
            <Fragment slot="en">
                <p class="mt-4 italic text-red">Photos by Fotogalerie Wien</p>
            </Fragment>
            <Fragment slot="de">
                <p class="mt-4 italic text-red">Fotos von Fotogalerie Wien</p>
            </Fragment>
        </Bilingual>
    </section>
    <section class="mt-16" id="a1224">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">12 24</h2>
                <p class="mt-4 italic text-red">
                    16 mm, colour, silence, 3 min
                    <br />
                    2017
                </p>
                <p class="mt-6 md:w-5/8">
                    Leave the body in complete darkness,
                    <br />
                    gentle fingertips remain in need,
                    <br />
                    driven, the reel full of thoughts,
                    <br />
                    born in the camera by light,
                    <br />
                    sweeps 12 or 24 times over the eye,
                    <br />
                    before the pencil over the paper.
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">12 24</h2>
                <p class="mt-4 italic text-red">
                    16 mm, Farbe, stumm, 3 min
                    <br />
                    2017
                </p>
                <p class="mt-6 md:w-5/8">
                    Verlasse den Körper in kompletter Dunkelheit,
                    <br />
                    sanfte Fingerspitzen bleiben zur Not,
                    <br />
                    getrieben rotiert die Spule voll mit Gedanken,
                    <br />
                    geboren in der Kamera durch Licht,
                    <br />
                    streift 12 oder 24 Mal über das Auge,
                    <br />
                    zuvor noch der Stift über das Papier.
                </p>
            </Fragment>
        </Bilingual>
        <Vimeo id="245454004" />
    </section>
    <section class="mt-16" id="venive">
        <Bilingual>
            <Fragment slot="en">
                <h2 class="text-xl font-bold text-red">¡Vení Ve!</h2>
                <p class="text-l text-red">sounds, sayings and gestures</p>
                <p class="mt-4 italic text-red">
                    Video, colour, sound, 4 min
                    <br />
                    2016, Nicaragua
                </p>
                <p class="mt-4 italic text-red">Director</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Camera</p>
                <p class="text-l text-red">Gabriel Serra</p>
                <p class="mt-2 italic text-red">Editing</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Collaboration</p>
                <p class="text-l text-red">
                    Amos Abdias, Waleska R. Cisne, Stalin Ocampo, Róger Ortíz,
                    Hamilton Reyes, Edgard Ruiz Roblez, Roberto Sandino
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Nicaraguan idiosyncrasies, such as words, gestures and
                    characteristics of behaviour, shaped artist Raphael Reichl's
                    integration process on site. From everyday greetings to
                    terms that have a different context of meaning, Reichl
                    gradually explored the Nicaraguan slang. Together with
                    friends from Granada, Nicaragua, he formed a dialogue of his
                    own context and affective understanding of the nicaraguan
                    slang.
                </p>
            </Fragment>
            <Fragment slot="de">
                <h2 class="text-xl font-bold text-red">¡Vení Ve!</h2>
                <p class="text-l text-red">Geräusche, Ausdrücke und Gesten</p>
                <p class="mt-4 italic text-red">
                    Video, Farbe, Ton, 4 min
                    <br />
                    2016, Nicaragua
                </p>
                <p class="mt-4 italic text-red">Regie</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Kamera</p>
                <p class="text-l text-red">Gabriel Serra</p>
                <p class="mt-2 italic text-red">Schnitt</p>
                <p class="text-l text-red">Raphael Reichl</p>
                <p class="mt-2 italic text-red">Mitwirkende</p>
                <p class="text-l text-red">
                    Amos Abdias, Waleska R. Cisne, Stalin Ocampo, Róger Ortíz,
                    Hamilton Reyes, Edgard Ruiz Roblez, Roberto Sandino
                </p>
                <p class="mt-6 md:w-5/8 indent-4">
                    Die Idiosynkrasie Nicaraguas, wie Wörter, Gesten und
                    Verhaltensmerkmale, prägte den Integrationsprozess des
                    Künstlers Raphael Reichl vor Ort. Beginnend mit alltäglichen
                    Begrüßungen bis hin zu Begriffen, die im Gebrauch einen
                    anderen Kontext ergeben, vertiefte Reichl sich sukzessive
                    ins Gewebe des nicaraguanischen Slang. Zusammen mit
                    Freund:innen aus Granada, Nicaragua, entwickelte er in
                    seinem Kontext und mit seinem Verständnis affektiv einen
                    Dialog im nicaraguanischen Dialekt.
                </p>
            </Fragment>
        </Bilingual>
    </section>
</Layout>
