---
const { id } = Astro.props;
---

<div class="relative pb-[75%] h-0 overflow-hidden">
    <iframe
        class="absolute w-full h-full"
        src={`https://player.vimeo.com/video/${id}`}
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen></iframe>
</div>
