{
  "name": "Raphael Reichl",
  "context": "dist",
  "host": "server227.campusspeicher.de",
  "protocol": "ftp",
  "secure": true,
  "username": "ftp-269077",
  "remotePath": "/rpreichl.com",
  "password": "YOUR_PASSWORD_HERE",
  "uploadOnSave": false,
  "watcher": {
    "files": "**/*.{html,css,js}",
    "autoUpload": true,
    "autoDelete": true
  }
}
