---
import Header from "../components/Header.astro";
const {
    title = "Raphael Reichl",
    description = "Artist and filmmaker Raphael Reichl, based in Vienna / Mexico City.",
    lang = true,
    sectionNames,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <Header sectionNames={sectionNames} />
        <div class="overflow-y-auto mt-24 px-20 h-[calc(100vh-96px)] lg:h-screen lg:mt-0">
        <main class="mt-24 mb-64 lg:w-1/2 lg:ml-96 xl:ml-128">
            {
                lang && (
                    <div class="sticky top-4 -mr-12 -mb-4 text-right font-ocr-t text-l text-red">
                        <button id="btn-lang-en" class="underline" disabled>
                            {" "}
                            en
                        </button>
                        &nbsp;/&nbsp;
                        <button id="btn-lang-de">de</button>
                    </div>
                )
            }
            <slot />
        </main>
        <footer class="pt-2 mx-20 mb-64 border-t lg:w-1/2 lg:ml-96 xl:ml-128 border-beige">
            <p class="text-l text-red">Raphael Reichl</p>
            <p class="mt-4">
                Spittelauer Lände 15-21/11/25
                <br />
                1090 Wien
                <br />
                atelier [@] rpreichl.com
            </p>

            <p class="mt-4"
            >Für den Inhalt verantwortlich: Raphael Reichl
            <br />    
            Programmierung: Klaus Györgyfavay</p>
            <p class="mt-4 md:w-5/8">
                Sämtliche auf der Website von Raphael Reichl veröffentlichten
                Texte, Abbildungen, Grafiken, Videosequenzen, Tondokumente und
                andere Materialien unterliegen dem Schutz des Urheberrechts.
                Urheber ist entweder Raphael Reichl oder die in der
                Quellenangabe genannte Person oder Institution. Eine Wiedergabe,
                Massenvervielfältigung oder Veröffentlichung der auf der Website
                befindlichen Informationen ist nicht gestattet. Die Genehmigung
                zum Abdruck oder zur Weiterverbreitung kann im Einzelfall
                erteilt werden.
            </p>
            <p class="mt-4">© Raphael Reichl, 2022. Alle Rechte vorbehalten.</p>
        </footer>
    </div>
        <style is:global>
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-Regular.otf") format("opentype");
            }
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-Bold.otf") format("opentype");
                font-weight: bold;
            }
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-LightItalic.otf")
                    format("opentype");
                font-style: italic;
            }
            @font-face {
                font-family: "OcrT";
                src: url("/fonts/OcrT.otf") format("opentype");
            }
            body {
                font-family: "ChaparralPro";
                font-size: 13px;
                scroll-behavior: smooth;
            }
            a {
                display: block;
            }
        </style>
    </body>
</html>
