---
import LayoutBare from "./LayoutBare.astro";
import Header from "../components/Header.astro";
const {
    title = "Raphael Reichl",
    description = "Artist and filmmaker Raphael Reichl, based in Vienna / Mexico City.",
    lang = true,
    sectionNames,
} = Astro.props;
---

<LayoutBare title={title} description={description}>
    <Header sectionNames={sectionNames} />
    <main class="mt-64 mb-64 w-1/2 ml-128">
        {
            lang && (
                <div class="sticky top-4 -mr-12 -mb-4 text-right font-ocr-t text-l text-red">
                    <button id="btn-lang-en" class="underline" disabled>
                        en
                    </button>
                    &nbsp;/&nbsp;
                    <button id="btn-lang-de">de</button>
                </div>
            )
        }
        <slot />
    </main>
</LayoutBare>
