---
const {
    title = "Raphael Reichl",
    description = "Artist and filmmaker Raphael Reichl, based in Vienna / Mexico City.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <slot/>
        <style is:global>
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-Regular.otf") format("opentype");
            }
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-Bold.otf") format("opentype");
                font-weight: bold;
            }
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-LightItalic.otf")
                    format("opentype");
                font-style: italic;
            }
            @font-face {
                font-family: "OcrT";
                src: url("/fonts/OcrT.otf") format("opentype");
            }
            body {
                font-family: "ChaparralPro";
                font-size: 13px;
                scroll-behavior: smooth;
            }
            a {
                display: block;
            }
        </style>
    </body>
</html>
